.red-text {
    color: red;
}

.yellow-text {
    color: goldenrod;
}

.green-text {
    color: green;
}

.badge.custom-class .title {
    background-color: black;
}

.badge.custom-class .value {
    background-color: green;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  color: #020202;
  font-weight: bold;
  font-style: italic;
}

/* Backgroud Image */
body {
    background-image: url('assets/background.png');
    background-size: 1920px 850px; /* Ensure the image covers the entire background */
    background-position: 50% 10%; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-blend-mode: lighten;
}

[data-md-color-scheme="slate"] {
     --md-hue: 211; 
     --md-default-bg-color:               rgb(2, 77, 8);
     --md-default-fg-color:               hsl(78, 85%, 48%);
     --md-default-fg-color--light:        hsla(0, 17%, 95%, 0.863);
     --md-default-fg-color--lighter:      hsl(0, 15%, 94%);
     --md-default-fg-color--lightest:     hsl(78, 85%, 48%);
     --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
     --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);
    /* Accent color shades*/
    --md-primary-fg-color:               rgb(8, 8, 8);
    --md-accent-fg-color:                rgb(200, 219, 23);
    --md-primary-bg-color:               rgb(35, 122, 9);
    --md-footer-bg-color:                rgb(9, 170, 14);
    --md-footer-fg-color:                hsla(0, 0%, 100%, 1);
    }

.md-nav__link[for] {
    color: hsl(78, 85%, 48%);
    }